/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

section {
    /* Centre section */
    margin: 0 auto;
    max-width: 800px;

    /* Add padding top*/
    padding-top: 20px;
}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 0;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-content {
    text-align: center;
    margin-top: 20px;
}

.header-content h1 {
    font-size: 32px;
    margin-bottom: 5px;
    color: #333;
}

.header-content p {
    margin-bottom: 10px;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
}

.social-links img {
    width: 24px;
    height: auto;
    border-radius: 50%;
}

.about,
.summary,
.education,
.work,
.skills,
.projects {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.project-item,
.work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.project-item img,
.work-item img {
    width: auto;
    height: 100px;
    margin-right: 20px;
}

.project-details a {
    color: rgb(107, 22, 22);
    text-decoration: none;
}

a {
    color: rgb(107, 22, 22);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

a:visited {
    color: rgb(173, 0, 0);
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer p {
    font-size: 14px;
    color: #777;
}

/* bar graph */
.bar-graph {
    margin: auto;
    width: 80%;
    max-width: 600px;
    border-radius: 25px;
}

.technology {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.technology-name {
    width: 120px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.bar {
    height: 20px;
    background-color: rgb(107, 22, 22);
    border-radius: 5px;
    text-align: center;
    color: white;
}

/* print button */
#print-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(107, 22, 22);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    transition: background-color 0.3s ease-in-out;
}

#print-button:hover {
    background-color: rgb(107, 22, 22);
}

@media print {

    .bar,
    .colon,
    .music,
    #print-button {
        display: none !important;
    }

    .technology-name {
        text-align: left;
    }
}

/* Media Queries for Responsive Design */
@media only screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .avatar img {
        width: 150px;
        height: 150px;
        margin-right: 20px;
    }

    .header-content {
        text-align: left;
    }

    .project-item,
    .work-item {
        flex-direction: row;
        align-items: flex-start;
    }

    .project-item img,
    .work-item img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 1052px) {

    /* place button at the end */
    #print-button {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
        /* Ensure the button appears above other content */
        background-color: rgb(107, 22, 22);
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
}